// Design
$brand-color: #C42521;
$brand-font-family: 'Roboto', sans-serif;
$brand-font-color: #676767;
$brand-white: #FFFFFF;
$brand-secondary-black: #191919;
$default-font-size: 14px; 

// Screen breakpoints
$small-screens: 472px;
$medium-screens: 705px;